<section>
  <h1>Blogroll</h1>
  <ul class="unstyled">
    <li class="nav-header">Friends</li>
    <li><a href="https://thijsalkema.de/blog/">Thijs Alkemade</a></li>
    <li><a href="http://www.norm2782.com/">Jurriën Stutterheim</a></li>
  </ul>

  <ul class="unstyled">
    <li class="nav-header">Interesting Companies</li>
    <li><a href="https://typesafe.com" rel="nofollow">Typesafe</a></li>
    <li><a href="http://www.binksoftware.nl/" rel="nofollow">BINK software B.V.</a></li>
  </ul>

  <ul class="unstyled">
    <li class="nav-header">Personal</li>
    <li><a href="http://www.linkedin.com/in/alessandrovermeulen" rel="nofollow">LinkedIn</a></li>
  </ul>
</section>
