@font-face {
  font-family: pagella;
  src: url('../fonts/texgyrepagella-regular.otf'),
      url('../fonts/texgyrepagella-regular.eot'),
      url('../fonts/texgyrepagella-regular.svg'),
      url('../fonts/texgyrepagella-regular.ttf')
      url('../fonts/texgyrepagella-regular.woff');
  font-weight: normal;
  font-style: normal;
}

@import "compass";

$sansFontFamily: Palatino, Palatino Linotype, pagella;
$serifFontFamily: Palatino, Palatino Linotype, pagella;

@import "bootstrap";
@import "bootstrap-responsive";

$text-color: #999;
$link-color: rgb(196, 95, 49);
@import "_font-awesome.sass";

@import "base/solarized";
@import "custom/colors";
@import "partials/archive";
@import "partials/syntax";

a, .navbar .nav > li > a{
  color: $link-color;
}

.navbar {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  height: 38px;
  #font-family: 'Palatino';
}

footer#pagefooter {
  padding-top: 10px;
  border-top: 1px solid #333;
}


.navbar .brand, .navbar .nav > li > a {
  text-shadow: none;
}

#pageheader {
  margin-top: 40px;
}

p {
  text-align: justify;
}

#banner, #main .span9 {
  padding-left: 15px;
}

#main .span3 {
  padding-right: 10px;
}

#blog-archives article h1 {
  margin-top: 0;
}

.navbar .brand, h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #333;
}

.navbar #searchfieldset {
  margin-right: 15px;
}

#main aside h1 {
  font-size: 25px;
}

#main h1 {
  font-size: 35px;
}

h1.entry-title {
  margin-bottom: 0;
}

aside.sidebar section.tag-cloud .rank-5 {font-size:small}
aside.sidebar section.tag-cloud .rank-4 {font-size:normal}
aside.sidebar section.tag-cloud .rank-3 {font-size:1.5em}
aside.sidebar section.tag-cloud .rank-2 {font-size:1.7em}
aside.sidebar section.tag-cloud .rank-1 {font-size:1.9em}

article {
  border-bottom: 1px dotted #333;
  padding-bottom: 1em;
}

article:last-of-type {
  border-bottom: 0;
}

.carousel-control {
  font-family: sans-serif;
}

.carousel-inner img {
  height: auto;
}

.unstyled li.nav-header {
  padding-left: 0;
}

span.line-number {
  white-space: nowrap;

}

span.line, span.line-number {
  line-height:20px;
}

// 1920px min
$gridColumnWidth1920:     85px !default;
$gridGutterWidth1920:     40px !default;
$gridRowWidth1920:        ($gridColumns * $gridColumnWidth1920) + ($gridGutterWidth1920 * ($gridColumns - 1)) !default;

// 1920px min
$fluidGridColumnWidth1920:     percentage($gridColumnWidth1920/$gridRowWidth1920) !default;
$fluidGridGutterWidth1920:     percentage($gridGutterWidth1920/$gridRowWidth1920) !default;

@media (min-width: 1900px) {

  // Fixed grid
  @include grid-core(90px, 40px);

  // Fluid grid
  @include grid-fluid($fluidGridColumnWidth1920, $fluidGridGutterWidth1920);

  // Input grid
  @include grid-input(90px, 40px);

  // Thumbnails
  .thumbnails {
    margin-left: -40px;
  }
  .thumbnails > li {
    margin-left: 40px;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }

}

figure {
  .code {
  text-align: left;
  }
  text-align: center;
}

.footnotes:before{
  content: "╌╌╌╌╌╌╌╌╌╌";
}