aside.sidebar {
  section.tag-cloud {
  
    .rank-5 {
      font-size: small;
    }
  
    .rank-4 {
      font-size: normal;
    }
  
    .rank-3 {
      font-size: 1.5em;
    }
  
    .rank-2 {
      font-size: 1.7em;
    }
  
    .rank-1 {
      font-size: 1.9em;
    }
  }
}